@font-face {
    font-family: 'Anagram';
    src: url('../fonts/Anagram.ttf') format('truetype');
}

@font-face {
    font-family: 'Blinker';
    src: url('../fonts/Blinker-Regular.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom, #f4a8b8, #82a47e);
    font-family: 'Blinker', sans-serif;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

header {
    padding: 20px 0;
    color: #3e6b48;
}

h1 {
    font-family: 'Anagram', sans-serif;
    font-size: 20rem;
    text-align:right;
    margin: 0;
}

p {
    position: relative; /* Allows top positioning */
    font-size: 32px;
    margin-top: 5px;
    text-align: left;
    color: #f8a9c8;
    top: -60px; /* Moves it up */
    z-index: 10;
}
.green-line {
    width: 100%;
    height: 75px; /* Adjust thickness */
    background-color: #3e6b48; /* Green color */
    position: relative; /* Allows top positioning */
    top: -150px; /* Moves it up */
    z-index: 1;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

    nav button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    nav img {
        width: auto;
        height: 50px;
        filter: invert(46%) sepia(25%) saturate(250%) hue-rotate(75deg) brightness(80%) contrast(200%);
    }

.content {
    flex: 1; /* Ensures content expands, pushing footer down if needed */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1); /* Light background for content */
    border-radius: 8px; /* Optional: rounded corners for aesthetic */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Optional: shadow for content */
}
/* Footer styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #808080;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: left;
}