@font-face {
    font-family: 'Anagram';
    src: url('../fonts/Anagram.ttf') format('truetype');
}

@font-face {
    font-family: 'Blinker';
    src: url('../fonts/Blinker.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom, #f4a8b8, #82a47e);
    font-family: 'Blinker', sans-serif;
}

header {
    padding: 20px 0;
    color: #3e6b48;
}

h1 {
    font-family: 'Anagram', sans-serif;
    font-size: 20rem;
    margin: 0;
}

p {
    font-size: 16px;
    margin-top: 5px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

    nav button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    nav img {
        width: auto;
        height: 50px;
        filter: invert(46%) sepia(25%) saturate(500%) hue-rotate(320deg) brightness(90%) contrast(85%);
    }

.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1); /* Light background for content */
    border-radius: 8px; /* Optional: rounded corners for aesthetic */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Optional: shadow for content */
}
